[Unit]
Description=IAASE Facebook Marketplace - Monitor (Timer)

[Timer]
OnBootSec=5min
OnCalendar=*-*-* 00:05
OnCalendar=*-*-* 07..23/3:05
RandomizedDelaySec=2min
Persistent=true
Unit=iaase-monitor.service

[Install]
WantedBy=timers.target
